body{
    margin:0;
    padding:0;
    font-family: 'Nunito Sans', sans-serif;
}
header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    margin:0 auto;
    padding:0 40px;
}

.logo h4{
    font-family: 'Oooh Baby', cursive;
    font-size:20px;
}

.logo a{
    text-decoration: none;
    color:#fff;
}

.nav-menu a{
    text-decoration: none;
    color:#fff;
    display: inline-block;
    padding:20px 10px;
}

.active-menu{
    background-color: chocolate;
}

.nav-menu a:hover{
    background-color: chocolate;
}
.dropdown-container{
    display: inline-block;
    position: relative;
}

.dropdown-content{
    display: none;
    position:absolute;
    background-color: red;
    min-width: 200px;
    right:-20px;
}

.dropdown-content a{
    display: block;
}

.dropdown-container:hover .dropdown-content{
    display: block;
}

.recent-blogs{
    display: flex;
    justify-content: space-between;
    gap:20px;
    padding:50px 0;
}

.blog-img{
    width:100%;
}

.blog-img img{
    width: 100%;
    border-radius: 5px;
}

.blog-item{
    display: flex;
    gap:10px;
    align-items: center;
    box-shadow: 3px 4px 17px 6px rgba(0,0,0,0.2);
    padding:10px;
    border-radius:5px;
}

.blog-title{
    margin-bottom:0;
}

.blog-content p{
    margin-top:0;
}

.hero-section{
    height:600px;
    width:100%;
    background: rgb(9,75,121);
    background: linear-gradient(34deg, rgba(9,75,121,1) 0%, rgba(0,255,209,1) 100%);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-section h2{
    margin-top:0;
}
/* header{
    display: flex;
    height:80px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color:#fff;
    padding:10px;
    margin:0 20px;
    transition: 0.9s;
    display: block;
}

nav ul li a:hover{
    background-color: burlywood;
}

nav ul li:last-child a{
    margin-right:0;
}

nav ul li:first-child a{
    margin-left:0;
}

.dropdown-nav{
    position: relative;
}

.dropdown{
    position:absolute;
    background-color: crimson;
    min-width:200px;
    top:30px;
    right:-45px;
    padding:0;
}

.dropdown ul{
    margin:0;
    padding:0;
}
.dropdown ul li {
    margin:0;
    padding:0 0 0 10px;
}

.dropdown-nav ul li a{
    margin: 0 !important;
    display: block;
}

.dropdown-nav ul li{
    display: block;
}

.nav-items .dropdown{
    visibility: hidden;
    padding-top:50px;
    transition:0.8s;
}

.dropdown-nav.nav-items a:hover + .dropdown{
    visibility: visible;
} */